@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.outerBorder {
    animation: fadeIn 3s ease-in-out;
}


.heading1 {
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
      filter : blur(10px);
      opacity: 0;
    }
    100% {
      filter : blur(0px);
      opacity: 1;
    }
  }